body {
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-attachment:fixed;
    font-family: 'Spicy Rice', cursive;
    color: #fff;
<<<<<<< HEAD
}
=======
}
body ::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-track{
    background: #6666ff;
}
body::-webkit-scrollbar-thumb{
    background-color: #333399;
    border-radius: 20px;
    border: 3px solid #6666ff;
}

>>>>>>> 1c962412a54babdffe747785a2d1b5585b9805e4
